################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CAST/CAST/bin/Debug
/CAST/CAST/obj
/CAST/.vs/CAST/v16
/.vs
/CAST.Patcher/CAST.Patcher/bin/Debug/netcoreapp2.1
/CAST.Patcher/CAST.Patcher/obj
/CAST.Patcher/CAST.Patcher/bin/Debug
